<div class="c-header__outer">
  <div class="o-grid">

    <div class="c-header">
      <div class="c-header__main">
        {{!-- Identity --}}
        <div class="c-header__identity u-link__wrap">
          <a href="{{ @site.url }}" class="u-link"></a>
          {{#if @site.logo}}
          <img class="c-header__identity--img" src="{{ @site.logo }}" alt="{{ @site.title }}">
          {{else}}
          <h1 class="c-header__identity--text">{{ @site.title }}</h1>
          {{/if}}
        </div>
        {{#if @site.use_chatbot}}
        <div class="c-header__chatbot">
          <a href="{{@site.url}}/ai-chatbot">
            <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.1" y="0.1" width="46.8" height="46.8" rx="23.4" fill="url(#paint0_linear_209_11)"
                stroke="white" stroke-width="0.2" />
              <path
                d="M10.2863 28.536L10.0943 29.292H11.9183L11.7263 28.536C11.4863 27.648 11.2583 26.58 11.0183 25.668H10.9703C10.7543 26.604 10.5143 27.648 10.2863 28.536ZM6.98634 33L9.75834 24.06H12.3263L15.0983 33H12.8423L12.3263 30.948H9.68634L9.17034 33H6.98634ZM15.9162 33V24.06H18.0642V33H15.9162ZM20.0155 23.472H25.1995C25.1995 26.532 23.4595 28.572 20.1355 29.472L19.3795 27.96C21.6715 27.36 22.8595 26.292 23.1115 24.996H20.0155V23.472ZM23.2915 31.056V32.52H26.9875V31.056H23.2915ZM21.3835 34.02V29.556H28.8955V34.02H21.3835ZM26.9515 22.872H28.8955V29.112H26.9515V26.976H25.2835V25.428H26.9515V22.872ZM32.0986 31.668V30.156H39.9586V34.152H38.0146V31.668H32.0986ZM38.1226 22.872H39.9586V29.736H38.1226V27.048H37.5586V29.676H35.7586V28.08L34.9666 29.196C34.1026 28.848 33.5026 28.236 33.1066 27.492C32.6986 28.38 32.0506 29.1 31.0666 29.52L30.0586 28.02C31.6666 27.3 32.1346 25.956 32.1346 24.672V23.484H34.0186V24.672C34.0186 25.824 34.4266 26.964 35.7586 27.624V23.04H37.5586V25.512H38.1226V22.872Z"
                fill="white" />
              <path
                d="M24.8256 13.1495C24.8256 13.1495 24.8257 13.1495 24.8256 13.1495C22.9412 12.7544 21.4684 11.2816 21.0737 9.39713C21.0251 9.16577 20.8211 9 20.5846 9C20.3481 9 20.1441 9.16577 20.0958 9.39713C19.7008 11.2814 18.2279 12.7542 16.3434 13.1492C16.1121 13.1978 15.9463 13.4018 15.9463 13.638C15.9463 13.8742 16.1121 14.0785 16.3434 14.1268C18.2276 14.5218 19.7005 15.9947 20.0955 17.8792C20.1441 18.1105 20.3481 18.2763 20.5843 18.2763C20.8205 18.2763 21.0248 18.1105 21.0731 17.8792C21.4681 15.9947 22.9409 14.5221 24.8255 14.1271C25.0568 14.0785 25.2226 13.8745 25.2226 13.6383C25.2226 13.4018 25.0569 13.1979 24.8256 13.1495C24.8256 13.1495 24.8256 13.1495 24.8256 13.1495Z"
                fill="white" />
              <path
                d="M30.957 16.8411C30.957 16.8412 30.957 16.8413 30.9569 16.8413C29.5974 16.5798 28.535 15.6059 28.2503 14.3597C28.1952 14.1194 27.9641 13.9473 27.6965 13.9473C27.429 13.9473 27.1975 14.1194 27.1428 14.3597C26.8577 15.606 25.7953 16.5799 24.4357 16.841C24.1736 16.8914 23.9858 17.1033 23.9858 17.3486C23.9858 17.5939 24.1736 17.8061 24.4357 17.8562C25.7949 18.1176 26.8577 19.0915 27.1425 20.3375C27.1975 20.5778 27.4286 20.7499 27.6962 20.7499C27.9638 20.7499 28.1952 20.5778 28.2499 20.3375C28.535 19.0912 29.5975 18.1173 30.957 17.8562C31.2191 17.8057 31.4069 17.5939 31.4069 17.3486C31.4069 17.1033 31.2192 16.8912 30.9572 16.841C30.9571 16.841 30.957 16.841 30.957 16.8411Z"
                fill="white" />
              <defs>
                <linearGradient id="paint0_linear_209_11" x1="23.5" y1="0" x2="23.5" y2="47"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#EC96F9" />
                  <stop offset="0.48" stop-color="#005AFF" />
                  <stop offset="1" stop-color="#76FCEE" />
                </linearGradient>
              </defs>
            </svg>
          </a>
        </div>
        {{/if}}
      </div>

      <div class="c-header__behaviors">
        <div class="c-header__member">
          {{bluedot_search_button color="--text" size="13"}}
          {{#if @member}}
          <div class="c-header__member--portal">
            <span>{{t 'Hello'}}, {{@member.name}}</span>
            <a href='#' data-portal='account' class='c-nav__link js-nav__link-membership'>
              <div class="c-header__member--profile">
                {{#if @member.avatar_image}}
                <img src="{{@member.avatar_image}}" alt="">
                {{else}}
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.0079 1.15803e-06C9.63379 -0.0010415 7.31269 0.702015 5.33817 2.02025C3.36365 3.33848 1.82442 5.21267 0.915165 7.40577C0.00590585 9.59888 -0.232539 12.0124 0.22999 14.341C0.692519 16.6696 1.83524 18.8088 3.51363 20.4879C5.19202 22.167 7.33068 23.3107 9.6591 23.7743C11.9875 24.2378 14.4011 24.0004 16.5946 23.0921C18.7881 22.1838 20.663 20.6454 21.9821 18.6715C23.3012 16.6976 24.0053 14.3768 24.0053 12.0026C24.006 10.4267 23.6962 8.86602 23.0935 7.40983C22.4909 5.95363 21.6073 4.63043 20.4932 3.51581C19.3791 2.40119 18.0563 1.517 16.6003 0.91375C15.1444 0.310497 13.5839 1.00592e-06 12.0079 1.15803e-06ZM12.0079 3.58972C12.793 3.58972 13.5604 3.82251 14.2131 4.25866C14.8658 4.69481 15.3746 5.31472 15.675 6.04001C15.9754 6.76529 16.054 7.56338 15.9009 8.33334C15.7477 9.1033 15.3697 9.81055 14.8146 10.3657C14.2595 10.9208 13.5522 11.2988 12.7823 11.452C12.0123 11.6051 11.2142 11.5265 10.4889 11.2261C9.76366 10.9257 9.14375 10.4169 8.7076 9.76417C8.27145 9.11143 8.03866 8.34402 8.03866 7.55897C8.03866 6.50626 8.45685 5.49667 9.20123 4.75229C9.94561 4.00791 10.9552 3.58972 12.0079 3.58972ZM12.0079 20.8636C9.90585 20.8676 7.87166 20.1198 6.27279 18.7551C6.08695 18.5961 5.93755 18.3989 5.83476 18.1769C5.73198 17.955 5.67822 17.7135 5.67714 17.4689C5.67783 16.9415 5.78266 16.4194 5.98561 15.9326C6.18857 15.4458 6.48565 15.0038 6.85983 14.6321C7.234 14.2604 7.67789 13.9662 8.16603 13.7664C8.65417 13.5667 9.17695 13.4653 9.70438 13.468H14.322C14.8489 13.4653 15.3712 13.5667 15.8587 13.7666C16.3463 13.9665 16.7895 14.2608 17.1628 14.6327C17.5362 15.0046 17.8322 15.4466 18.034 15.9334C18.2359 16.4201 18.3394 16.942 18.3387 17.4689C18.339 17.7137 18.2859 17.9557 18.183 18.1778C18.0801 18.4 17.93 18.597 17.743 18.7551C16.1428 20.1209 14.1065 20.8689 12.0026 20.8636H12.0079Z"
                    fill="black" />
                </svg>
                {{/if}}
              </div>
            </a>
          </div>
          <div class="c-header__member--signout">
            <a href='#signout' class='c-nav__link c-nav__link--sign' data-members-signout>{{t 'Log out' }}</a>
          </div>
          {{else}}
          <div class="c-header__member--signin">
            <a href='{{ @site.url }}/signin/' class='c-nav__link c-nav__link--sign js-nav__link-membership'>{{t 'Log in'
              }}</a>
          </div>
          {{/if}}
          {{#if @price.use}}
          {{#unless @member.paid}}
          <div class="c-header__member--membership">
            <a href="{{ @site.url }}/membership/"
              class="bg-accent c-nav__link c-nav__link--member js-nav__link-membership">{{t "Membership" }}</a>
          </div>
          {{/unless}}
          {{/if}}

        </div>
      </div>

    </div>

    <div class="c-header-m">
      <div class="c-header-m__behaviors">
        <div class="c-header-m__hamburger js-nav-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="default w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </div>
      </div>
      <div class="c-header-m__main">
        {{!-- Identity --}}
        <div class="c-header__identity u-link__wrap">
          <a href="{{ @site.url }}" class="u-link"></a>
          {{#if @site.logo}}
          <img class="c-header__identity--img" src="{{ @site.logo }}" alt="{{ @site.title }}">
          {{else}}
          <h1 class="c-header__identity--text">{{ @site.title }}</h1>
          {{/if}}
        </div>
        {{#if @site.use_chatbot}}
      <div class="c-header__chatbot">
        <a href="{{@site.url}}/ai-chatbot">
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.1" y="0.1" width="46.8" height="46.8" rx="23.4" fill="url(#paint0_linear_209_3)" stroke="white"
              stroke-width="0.2" />
            <path
              d="M10.2863 28.536L10.0943 29.292H11.9183L11.7263 28.536C11.4863 27.648 11.2583 26.58 11.0183 25.668H10.9703C10.7543 26.604 10.5143 27.648 10.2863 28.536ZM6.98634 33L9.75834 24.06H12.3263L15.0983 33H12.8423L12.3263 30.948H9.68634L9.17034 33H6.98634ZM15.9162 33V24.06H18.0642V33H15.9162ZM20.0155 23.472H25.1995C25.1995 26.532 23.4595 28.572 20.1355 29.472L19.3795 27.96C21.6715 27.36 22.8595 26.292 23.1115 24.996H20.0155V23.472ZM23.2915 31.056V32.52H26.9875V31.056H23.2915ZM21.3835 34.02V29.556H28.8955V34.02H21.3835ZM26.9515 22.872H28.8955V29.112H26.9515V26.976H25.2835V25.428H26.9515V22.872ZM32.0986 31.668V30.156H39.9586V34.152H38.0146V31.668H32.0986ZM38.1226 22.872H39.9586V29.736H38.1226V27.048H37.5586V29.676H35.7586V28.08L34.9666 29.196C34.1026 28.848 33.5026 28.236 33.1066 27.492C32.6986 28.38 32.0506 29.1 31.0666 29.52L30.0586 28.02C31.6666 27.3 32.1346 25.956 32.1346 24.672V23.484H34.0186V24.672C34.0186 25.824 34.4266 26.964 35.7586 27.624V23.04H37.5586V25.512H38.1226V22.872Z"
              fill="white" />
            <path
              d="M24.8258 13.1495C24.8258 13.1495 24.8258 13.1495 24.8258 13.1495C22.9413 12.7544 21.4685 11.2816 21.0738 9.39713C21.0253 9.16577 20.8212 9 20.5847 9C20.3482 9 20.1442 9.16577 20.0959 9.39713C19.7009 11.2814 18.2281 12.7542 16.3435 13.1492C16.1122 13.1978 15.9464 13.4018 15.9464 13.638C15.9464 13.8742 16.1122 14.0785 16.3435 14.1268C18.2278 14.5218 19.7006 15.9947 20.0956 17.8792C20.1442 18.1105 20.3482 18.2763 20.5844 18.2763C20.8206 18.2763 21.025 18.1105 21.0732 17.8792C21.4682 15.9947 22.9411 14.5221 24.8256 14.1271C25.057 14.0785 25.2227 13.8745 25.2227 13.6383C25.2227 13.4018 25.057 13.1979 24.8257 13.1495C24.8257 13.1495 24.8257 13.1495 24.8258 13.1495Z"
              fill="white" />
            <path
              d="M30.9571 16.8411C30.9571 16.8412 30.9571 16.8413 30.957 16.8413C29.5975 16.5798 28.5352 15.6059 28.2504 14.3597C28.1954 14.1194 27.9642 13.9473 27.6967 13.9473C27.4291 13.9473 27.1976 14.1194 27.1429 14.3597C26.8578 15.606 25.7954 16.5799 24.4358 16.841C24.1738 16.8914 23.986 17.1033 23.986 17.3486C23.986 17.5939 24.1738 17.8061 24.4358 17.8562C25.7951 18.1176 26.8578 19.0915 27.1426 20.3375C27.1976 20.5778 27.4287 20.7499 27.6963 20.7499C27.9639 20.7499 28.1954 20.5778 28.25 20.3375C28.5352 19.0912 29.5976 18.1173 30.9571 17.8562C31.2192 17.8057 31.407 17.5939 31.407 17.3486C31.407 17.1033 31.2193 16.8912 30.9573 16.841C30.9572 16.841 30.9571 16.841 30.9571 16.8411Z"
              fill="white" />
            <defs>
              <linearGradient id="paint0_linear_209_3" x1="23.5" y1="0" x2="23.5" y2="47"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#EC96F9" />
                <stop offset="0.48" stop-color="#005AFF" />
                <stop offset="1" stop-color="#76FCEE" />
              </linearGradient>
            </defs>
          </svg>

        </a>
      </div>
      {{/if}}
      </div>
      
      <div class="" style="padding-top: 3px; max-height: 40px;">
        <a href='#' data-portal='account' class='c-nav__link js-nav__link-membership'
          style="{{#unless @member}}display: none;{{/unless}}">
          <div class="c-header__member--profile">
            {{#if @member.avatar_image}}
            <img src="{{@member.avatar_image}}" alt="">
            {{else}}
            <svg width="35" height="35" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="16" fill="#CDCDCD" />
              <path
                d="M16.007 1.54371e-06C12.8422 -0.00138836 9.74811 0.935814 7.116 2.69307C4.48389 4.45033 2.43203 6.9487 1.21995 9.87219C0.00787273 12.7957 -0.309983 16.013 0.306586 19.1171C0.923156 22.2213 2.44645 25.0729 4.68381 27.3112C6.92117 29.5496 9.77209 31.0741 12.876 31.692C15.9799 32.31 19.1973 31.9935 22.1213 30.7827C25.0453 29.5719 27.5446 27.5212 29.303 24.8898C31.0614 22.2585 32 19.1648 32 16C32.0009 13.8992 31.5879 11.8188 30.7846 9.8776C29.9813 7.93643 28.8034 6.17255 27.3183 4.68672C25.8331 3.20089 24.0697 2.02223 22.1289 1.21807C20.1881 0.413904 18.1078 1.34093e-06 16.007 1.54371e-06ZM16.007 4.78524C17.0535 4.78524 18.0765 5.09557 18.9466 5.67697C19.8168 6.25837 20.495 7.08474 20.8954 8.05157C21.2959 9.01841 21.4007 10.0823 21.1965 11.1087C20.9924 12.1351 20.4884 13.0779 19.7485 13.8178C19.0085 14.5578 18.0657 15.0618 17.0393 15.2659C16.0129 15.4701 14.949 15.3653 13.9822 14.9648C13.0154 14.5643 12.189 13.8862 11.6076 13.016C11.0262 12.1459 10.7159 11.1229 10.7159 10.0764C10.7159 8.67311 11.2733 7.32728 12.2656 6.33499C13.2579 5.3427 14.6037 4.78524 16.007 4.78524ZM16.007 27.812C13.2049 27.8174 10.4932 26.8204 8.36189 25.0013C8.11415 24.7893 7.91499 24.5265 7.77797 24.2306C7.64095 23.9347 7.56929 23.6128 7.56786 23.2868C7.56877 22.5837 7.70851 21.8877 7.97906 21.2388C8.24961 20.5898 8.64564 20.0007 9.14443 19.5051C9.64321 19.0096 10.2349 18.6175 10.8856 18.3512C11.5364 18.0849 12.2332 17.9497 12.9363 17.9534H19.0918C19.7942 17.9497 20.4904 18.085 21.1403 18.3515C21.7903 18.6179 22.3811 19.0103 22.8787 19.506C23.3764 20.0017 23.7711 20.5909 24.0401 21.2398C24.3091 21.8887 24.4471 22.5844 24.4462 23.2868C24.4466 23.6131 24.3758 23.9357 24.2387 24.2318C24.1015 24.5279 23.9014 24.7906 23.6522 25.0013C21.519 26.822 18.8045 27.8191 16 27.812H16.007Z"
                fill="#EBEAEA" />
            </svg>
            {{/if}}
          </div>
        </a>
        {{#unless @member}}
        <a href="/signin">
          <div class="c-header__member--profile" style="border: 0;">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="16" cy="16" r="16" fill="#CDCDCD" />
              <path
                d="M16.007 1.54371e-06C12.8422 -0.00138836 9.74811 0.935814 7.116 2.69307C4.48389 4.45033 2.43203 6.9487 1.21995 9.87219C0.00787273 12.7957 -0.309983 16.013 0.306586 19.1171C0.923156 22.2213 2.44645 25.0729 4.68381 27.3112C6.92117 29.5496 9.77209 31.0741 12.876 31.692C15.9799 32.31 19.1973 31.9935 22.1213 30.7827C25.0453 29.5719 27.5446 27.5212 29.303 24.8898C31.0614 22.2585 32 19.1648 32 16C32.0009 13.8992 31.5879 11.8188 30.7846 9.8776C29.9813 7.93643 28.8034 6.17255 27.3183 4.68672C25.8331 3.20089 24.0697 2.02223 22.1289 1.21807C20.1881 0.413904 18.1078 1.34093e-06 16.007 1.54371e-06ZM16.007 4.78524C17.0535 4.78524 18.0765 5.09557 18.9466 5.67697C19.8168 6.25837 20.495 7.08474 20.8954 8.05157C21.2959 9.01841 21.4007 10.0823 21.1965 11.1087C20.9924 12.1351 20.4884 13.0779 19.7485 13.8178C19.0085 14.5578 18.0657 15.0618 17.0393 15.2659C16.0129 15.4701 14.949 15.3653 13.9822 14.9648C13.0154 14.5643 12.189 13.8862 11.6076 13.016C11.0262 12.1459 10.7159 11.1229 10.7159 10.0764C10.7159 8.67311 11.2733 7.32728 12.2656 6.33499C13.2579 5.3427 14.6037 4.78524 16.007 4.78524ZM16.007 27.812C13.2049 27.8174 10.4932 26.8204 8.36189 25.0013C8.11415 24.7893 7.91499 24.5265 7.77797 24.2306C7.64095 23.9347 7.56929 23.6128 7.56786 23.2868C7.56877 22.5837 7.70851 21.8877 7.97906 21.2388C8.24961 20.5898 8.64564 20.0007 9.14443 19.5051C9.64321 19.0096 10.2349 18.6175 10.8856 18.3512C11.5364 18.0849 12.2332 17.9497 12.9363 17.9534H19.0918C19.7942 17.9497 20.4904 18.085 21.1403 18.3515C21.7903 18.6179 22.3811 19.0103 22.8787 19.506C23.3764 20.0017 23.7711 20.5909 24.0401 21.2398C24.3091 21.8887 24.4471 22.5844 24.4462 23.2868C24.4466 23.6131 24.3758 23.9357 24.2387 24.2318C24.1015 24.5279 23.9014 24.7906 23.6522 25.0013C21.519 26.822 18.8045 27.8191 16 27.812H16.007Z"
                fill="#EBEAEA" />
            </svg>
          </div>
        </a>
        {{/unless}}
      </div>
    </div>



  </div>
</div>
<div class="c-header__nav--outer">
  <div class="o-grid" style="width: 100%;">
    <div class="c-header__nav--outer2">
  <ul class="c-header__nav o-plain-list">
    {{ navigation }}
  </ul>
  </div>
  </div>
</div>

<div class="c-header-drawer">
  <div class="c-header-drawer__inner">
    <div class="c-header-drawer__header">
      {{!-- Identity --}}
      <div class="c-header__identity u-link__wrap">
        <a href="{{ @site.url }}" class="u-link"></a>
        {{#if @site.logo}}
        <img class="c-header__identity--img" src="{{ @site.logo }}" alt="{{ @site.title }}">
        {{else}}
        <h1 class="c-header__identity--text">{{ @site.title }}</h1>
        {{/if}}
      </div>

      <div class="c-header-drawer__toggle js-nav-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>

    <div class="c-header-drawer__main">
      <div class="c-header-drawer__main--header">
        <div class="c-header-mobile__nav--subscribe">
          구독하기
        </div>
        {{!-- Search form --}}
        <div class="c-header__search--outer">
          <div class="c-header__search">
            <form class="c-header__search--form">
              <input class="c-header__search--input" type="text" name="stx" value="" placeholder="검색..">
              <button type="submit" class="c-header__search--submit">
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M6.37472 7.46828C6.11182 7.6073 5.88096 7.75186 5.63251 7.85642C4.53483 8.3222 3.43675 8.31626 2.35117 7.81444C1.54646 7.44253 0.931991 6.85477 0.502682 6.07174C0.146083 5.41713 -0.0266312 4.6759 0.00332932 3.92869C0.0332898 3.18149 0.264778 2.45692 0.672609 1.83381C1.05373 1.24669 1.57868 0.769983 2.19609 0.45035C2.8704 0.0997684 3.62851 -0.0510344 4.38348 0.0152358C5.13845 0.0815059 5.85971 0.362167 6.46457 0.825031C7.21303 1.39695 7.7146 2.14394 7.94898 3.06321C8.22243 4.14804 8.08063 5.18257 7.52983 6.15492C7.47866 6.24522 7.48022 6.29314 7.55561 6.36839C8.27907 7.09557 8.99784 7.82791 9.71896 8.55746C9.96857 8.80976 10.0639 9.10285 9.95334 9.4502C9.78888 9.97222 9.1162 10.1742 8.69783 9.82805C8.6451 9.78409 8.59432 9.73735 8.54588 9.68863C7.84117 8.97571 7.13698 8.2616 6.43332 7.5463C6.41174 7.52194 6.39215 7.49584 6.37472 7.46828ZM6.77239 4.09457C6.76497 2.56496 5.52978 1.31734 4.0352 1.33002C2.51914 1.34309 1.30075 2.58436 1.30895 4.10526C1.31872 5.63607 2.54883 6.87457 4.05044 6.86467C5.55204 6.85477 6.77942 5.61072 6.77239 4.09457Z"
                    fill="#CCCCCC" />
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>

      <ul class="c-header__nav o-plain-list" style="width: 95%; margin: 0 auto; margin-top: -35px;">
        {{ navigation isDrawer="drawer"}}
      </ul>
    </div>
  </div>
</div>

{{> search-form }}

{{#contentFor "scripts"}}
<script>
  // Header Search form
  var hSearchForm = document.querySelectorAll(".c-header__search--form");
  [].map.call(hSearchForm, function (obj, idx) {
    obj.addEventListener('submit', function (e) {
      e.preventDefault();

      var searchParam = $(this).find('.c-header__search--input')[0].value;
      window.location.href = '{{@site.url}}' + '/search/' + encodeURIComponent(searchParam.trim());
      return false;
    });
  });
</script>
{{/contentFor}}