{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{!-- [Home Hero Section] --}}
<div class="c-home-hero__outer">
  <div class="o-grid">
    <div class="c-home-hero">
      <div class="c-home-hero-content">
        {{> home/subscribe-box }}
      </div>
      <div class="c-home-hero-media__wrap">
        <div class="c-home-hero-media__box">
          <div class="c-home-hero-media{{#if @site.cover_image}} has-media{{else}} empty-media{{/if}}">
            {{#if @site.cover_image}}
            <img
              class="c-home-hero-image"
              alt="{{#if @site.title}}{{@site.title}}{{/if}}"
              src="{{@site.cover_image}}">
            {{/if}}
          </div>
          <div class="c-home-hero-media__shadow"></div>
          <div class="c-home-hero-media__shadow"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- [Home Top Section] --}}
<section class="c-home-top-section">
  <div class="o-grid">
    <div class="c-home-top-section__container">

      <section class="c-home-top-feature">

        {{!-- [Home Top Section] Main Post --}}
        {{#get "posts" limit=1 filter="featured:true" include="authors,tags" order="published_at desc" as |items|}}
        {{#if items}}
        {{#foreach items}}
        <div class="c-home-top-main">
          {{> post-card cardFormat="big" }}
        </div>
        {{/foreach}}
        {{/if}}
        {{/get}}

        {{!-- [Home Top Section] Posts --}}
        {{#get "posts" limit=4 filter="featured:true" include="authors,tags" order="published_at desc" as |items|}}
        {{#if items}}
        <div class="c-home-top-posts__wrap">
          <div class="c-home-top-posts">
          {{#foreach items from="2"}}
            {{> post-card }}
          {{/foreach}}
          </div>
        </div>
        {{/if}}
        {{/get}}

        {{!-- [Home Top Section] Promotion Top --}}
        {{#get "pages" filter="tag:hash-home-promotion-top" limit="1" order="published_at desc"}}
        {{#if pages}}
          {{> home/promotion-top }}
        {{else}}
        {{!-- <div class="c-home-top-promotion c-home-top-promotion--skeleton">프로모션 영역</div> --}}
        {{/if}}
        {{/get}}
      </section>

      <section class="c-home-top-side">
      {{#if @site.visible_feature_content_section}}
        <div class="c-home-top-side__wrap">
          <div class="c-home-top-side__title">
          {{#if @site.feature_content_section_title}}
            {{@site.feature_content_section_title}}
          {{else}}

            {{#if @site.feature_content_section_sort_type}}
              {{!-- 디자인 커스텀 --}}
              {{#match @site.feature_content_section_sort_type "=" "poplularest"}}
              인기 있는 콘텐츠
              {{else}}
              최신 콘텐츠
              {{/match}}
            {{else}}
              {{#if @custom.posts_widget_title}}
                {{@custom.posts_widget_title}}
              {{else}}
                {{!-- 테마 커스텀 --}}
                {{#match @custom.posts_widget_order "=" "인기순"}}
                최신 콘텐츠
                {{else}}
                인기 있는 콘텐츠
                {{/match}}
              {{/if}}
            {{/if}}
          {{/if}}
          </div>

        {{#if @site.feature_content_section_sort_type}}
        {{!--  --}}
        {{#match @site.feature_content_section_sort_type "=" "poplularest"}}
          {{#get "posts" filter="published_at:>=now-30d" include="tags,authors" limit="5" order="view_count desc"}}
          {{#if posts}}
          <div class="c-home-top-side__posts--wrap">
            <div class="c-home-top-side__posts">
              {{#foreach posts}}
                {{> post-card cardFormat="small" }}
              {{/foreach}}
            </div>
          </div>
          {{/if}}
          {{/get}}
        {{else}}
          {{#get "posts" include="tags,authors" limit="5" order="published_at desc"}}
          {{#if posts}}
          <div class="c-home-top-side__posts--wrap">
            <div class="c-home-top-side__posts">
              {{#foreach posts}}
                {{> post-card cardFormat="small" }}
              {{/foreach}}
            </div>
          </div>
          {{/if}}
          {{/get}}
        {{/match}}
        {{else}}
        {{!--  --}}
        {{#match @custom.posts_widget_order "=" "인기순"}}
          {{#get "posts" filter="published_at:>=now-30d" include="tags,authors" limit="5" order="view_count desc"}}
          {{#if posts}}
          <div class="c-home-top-side__posts--wrap">
            <div class="c-home-top-side__posts">
              {{#foreach posts}}
                {{> post-card cardFormat="small" }}
              {{/foreach}}
            </div>
          </div>
          {{/if}}
          {{/get}}
        {{else}}
          {{#get "posts" include="tags,authors" limit="5" order="published_at desc"}}
          {{#if posts}}
          <div class="c-home-top-side__posts--wrap">
            <div class="c-home-top-side__posts">
              {{#foreach posts}}
                {{> post-card cardFormat="small" }}
              {{/foreach}}
            </div>
          </div>
          {{/if}}
          {{/get}}
        {{/match}}
        {{/if}}
        </div>
      {{else}}
      {{#match @custom.posts_widget_active "=" "On"}}
        <div class="c-home-top-side__wrap">
          <div class="c-home-top-side__title">
          {{#if @site.feature_content_section_title}}
            {{@site.feature_content_section_title}}
          {{else}}

            {{#if @site.feature_content_section_sort_type}}
              {{!-- 디자인 커스텀 --}}
              {{#match @site.feature_content_section_sort_type "=" "poplularest"}}
              인기 있는 콘텐츠
              {{else}}
              최신 콘텐츠
              {{/match}}
            {{else}}
              {{#if @custom.posts_widget_title}}
                {{@custom.posts_widget_title}}
              {{else}}
                {{!-- 테마 커스텀 --}}
                {{#match @custom.posts_widget_order "=" "인기순"}}
                최신 콘텐츠
                {{else}}
                인기 있는 콘텐츠
                {{/match}}
              {{/if}}
            {{/if}}
          {{/if}}
          </div>

        {{#if @site.feature_content_section_sort_type}}
        {{!--  --}}
        {{#match @site.feature_content_section_sort_type "=" "poplularest"}}
          {{#get "posts" filter="published_at:>=now-30d" include="tags,authors" limit="5" order="view_count desc"}}
          {{#if posts}}
          <div class="c-home-top-side__posts--wrap">
            <div class="c-home-top-side__posts">
              {{#foreach posts}}
                {{> post-card cardFormat="small" }}
              {{/foreach}}
            </div>
          </div>
          {{/if}}
          {{/get}}
        {{else}}
          {{#get "posts" include="tags,authors" limit="5" order="published_at desc"}}
          {{#if posts}}
          <div class="c-home-top-side__posts--wrap">
            <div class="c-home-top-side__posts">
              {{#foreach posts}}
                {{> post-card cardFormat="small" }}
              {{/foreach}}
            </div>
          </div>
          {{/if}}
          {{/get}}
        {{/match}}
        {{else}}
        {{!--  --}}
        {{#match @custom.posts_widget_order "=" "인기순"}}
          {{#get "posts" filter="published_at:>=now-30d" include="tags,authors" limit="5" order="view_count desc"}}
          {{#if posts}}
          <div class="c-home-top-side__posts--wrap">
            <div class="c-home-top-side__posts">
              {{#foreach posts}}
                {{> post-card cardFormat="small" }}
              {{/foreach}}
            </div>
          </div>
          {{/if}}
          {{/get}}
        {{else}}
          {{#get "posts" include="tags,authors" limit="5" order="published_at desc"}}
          {{#if posts}}
          <div class="c-home-top-side__posts--wrap">
            <div class="c-home-top-side__posts">
              {{#foreach posts}}
                {{> post-card cardFormat="small" }}
              {{/foreach}}
            </div>
          </div>
          {{/if}}
          {{/get}}
        {{/match}}
        {{/if}}
        </div>
      {{/match}}
      {{/if}}
      </section>
    </div>
  </div>
</section>

{{#if @site.home_visible_shop_section}}
<section class="c-home-shop-section">
  <div class="c-home-products-carousel">
    <div class="o-grid">
      <div class="o-grid__col o-grid__col--full">
        {{> common/products/carousel-section which="home" nav="true" title=@site.shop_section_title }}
      </div>
    </div>
  </div>
</section>
{{else}}
  {{#match @custom.shop_section_active_home "=" "On"}}
  <section class="c-home-shop-section">
    <div class="c-home-products-carousel">
      <div class="o-grid">
        <div class="o-grid__col o-grid__col--full">
          {{#if @site.shop_section_title}}
          {{> common/products/carousel-section which="home" nav="true" title=@site.shop_section_title }}
          {{else}}
          {{> common/products/carousel-section which="home" nav="true" title=@custom.shop_section_title }}
          {{/if}}
        </div>
      </div>
    </div>
  </section>
  {{/match}}
{{/if}}

{{!-- [Home Category Section 1] --}}
<div class="c-home-category-section">
  <div class="o-grid">
    <div class="c-home-category-section__container">

      <section class="c-home-category-main">

      {{!-- Post tag section --}}
      {{#if @custom.tag_slugs_for_home_sections}}
      {{#get "tags" filter="slug:[{{@custom.tag_slugs_for_home_sections}}]" include="count.posts" }}
      {{#if tags}}
        <div class="c-home-categories">
        {{#foreach tags}}
          <div class="c-home-category-box">
            <div class="c-home-category-box__header">

              <div class="c-home-category-box__title">{{name}}</div>
              <div class="c-home-category-box__action">
                <a href="{{url}}">전체보기</a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
              </div>
            </div>

            <div class="c-home-category-box__main">
            {{#get "posts" filter="tag:{{slug}}" include="tags,authors" limit="6" order="published_at desc" as |posts|}}
            {{#if posts}}
              {{#foreach posts}}
                {{> post-card cardFormat="small" disableMeta="true"}}
              {{/foreach}}
            {{/if}}
            {{/get}}
            </div>
          </div>
        {{/foreach}}
        </div>
      {{/if}}
      {{/get}}
      {{/if}}

        {{!-- [Home Category Section] Promotion Bottom --}}
        <div class="c-home-category-promotion__wrap">
          {{#get "pages" filter="tag:hash-home-promotion-top" limit="1" order="published_at desc"}}
          {{#if pages}}
            {{> home/promotion-bottom }}
          {{else}}
          {{!-- <div class="c-home-category-promotion c-home-category-promotion--skeleton">프로모션 영역</div> --}}
          {{/if}}
          {{/get}}
        </div>
      </section>

      <section class="c-home-category-side">
        <div class="c-home-subscribe-widget__wrap">
          <div class="c-home-subscribe-widget">
            {{> home/subscribe-box widget="true" }}
          </div>
        </div>
      </section>

    </div>
  </div>
</div>

{{!-- [Home Category Section 2] --}}
<div class="c-home-category-section c-home-category-section__two">
  <div class="o-grid">
    <div class="c-home-category-section__container">

      <section class="c-home-category-main">

      {{!-- Post tag section --}}
      {{#if @custom.tag_slugs_for_home_sections_2}}
      {{#get "tags" filter="slug:[{{@custom.tag_slugs_for_home_sections_2}}]" include="count.posts" }}
      {{#if tags}}
        <div class="c-home-categories">
        {{#foreach tags}}
          {{#if @first}}
          <div class="c-home-categories__row">
          {{else}}
          {{#if @odd}}
          </div>
          <div class="c-home-categories__row">
          {{/if}}
          {{/if}}
            <div class="c-home-category-box">
              <div class="c-home-category-box__header">
                <div class="c-home-category-box__title">
                  <a href="{{url absolute="true"}}">{{name}}</a>
                </div>
              </div>

              <div class="c-home-category-box__main">
              {{#get "posts" filter="tag:{{slug}}" include="tags,authors" limit="3" order="published_at desc" as |posts|}}
              {{#if posts}}
                {{#foreach posts}}
                  {{> post-card cardFormat="small" disableMeta="true" disableMedia="true"}}
                {{/foreach}}
              {{/if}}
              {{/get}}
              </div>
            </div>

          {{#if @last}}
          </div>
          {{/if}}
        {{/foreach}}
        </div>
      {{/if}}
      {{/get}}
      {{/if}}

      </section>

      <section class="c-home-category-side">
      </section>

    </div>
  </div>
</div>